* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

nav {
    padding: 1rem 0;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.hero {
    min-height: 80vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}